/* .blog artical {
    background: transparent;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    padding: 30px;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

.blog artical:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}

.blog .post-img {
    max-height: 240px;
    margin: -30px -30px 15px -30px;
    overflow: hidden;
}

.blog .post-category {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
}

.blog .title {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .title a {
    color: #ffffff;
    transition: 0.3s;
    text-decoration: none;
}

.blog .title a:hover {
    color: var(--primary);
}

.blog .post-author-img {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.blog .post-author-list {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 5px;
}

.blog .post-date {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 0;
}
 */

 /* blogCard.css */
.blog-article {
    background: transparent;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    padding: 30px; /* Reduce padding to make the card smaller */
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

.blog-article:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6);
}

.blog .post-img {
    max-height: 200px; /* Adjust the max-height to make the image smaller */
    margin: -15px -15px 10px -15px;
    overflow: hidden;
}

.blog .post-category {
    font-size: 0.8rem; /* Reduce font size for the category */
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
}

.blog .title {
    font-size: 1.2rem; /* Reduce font size for the title */
    font-weight: 400;
    margin: 0 0 5px 0;
}

.blog .title a {
    color: #ffffff;
    transition: 0.3s;
    text-decoration: none;
}

.blog .title a:hover {
    color: var(--primary);
}

.blog .post-author-img {
    width: 50px; /* Reduce the size of the author image */
    border-radius: 50%;
    margin-right: 10px;
}

.blog .post-author-list {
    font-size: 0.9rem; /* Reduce font size for the author name */
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 5px;
}

.blog .post-date {
    font-size: 12px; /* Reduce font size for the date */
    color: #ffffff;
    margin-bottom: 0;
}

